# Local .terraform directories
**/.terraform/*
**/.terraform.*
**.terraform**

# .tfstate files
*.tfstate
*.tfstate.*

# dbt logs
logs/dbt.log

#pycharm file
.idea/

# Ignore CLI configuration files
.terraformrc
terraform.rc
